/* CSS RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  background-image: url('./Assets/Pizza.jpg');
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}
* {
    box-sizing: border-box;
}
html, body {
    height: 100%;
}
/* Set base font size for all elemnts */
html {
  font-size: 62.5%;
}
.hero-header {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
}
.header-text {
  background-color: #664147;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 1% 0;
}
.hero-header h1 {
  font-size: 7rem;
  color: #E5F9E0;
  letter-spacing: .55rem;
  text-shadow: 1px 1px 1px black;
}
.home-page {
  height: 100vh;
  width: 100%;
}
nav {
  width: 100%;
  height: 4vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #2F9C95;
}
button {
  width: 15vw;
  height: 3vh;
  font-size: 1.9rem;
  font-weight: 600;
  letter-spacing: .2rem;
}
.form-wrapper {
  width: 50%;
  margin-top: 3%;
  text-align: center;
}

#pizza-form {
  background-color: rgba(229, 249, 224, 0.7);
  height: 85vh;
  width: 100%;
  padding: 0 15%;
  font-size: 2.5rem;
}


.name-wrap {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2%;
}
.size-wrap {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2%;
}
.toppings-wrap {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  height: 40%;
  background-color: white;
  padding: 2%;
}
.select {
  width: 100%;
  padding: 5% 0;
}